<div id="page_wrapper">
    <div id="profile_img">
        <%= image_tag "logo.png" %>
    </div>

    <div id="content">
       <h1> Hey, I'm Sounish Nath</h1>
       <p>  ennui. Occupy cornhole disrupt portland meditation jean shorts, gochujang selvage helvetica flannel edison bulb venmo. Locavore celiac chillwave pork belly. Truffaut organic whatever hoodie ramps. Fingerstache flexitarian echo park shaman, iceland +1 locavore occupy green juice farm-to-table trust fund forage crucifix fixie edison bulb. Bicycle rights polaroid forage, try-hard la croix wolf </p>
       <br><br><br>
       
       <p> If you'd like to learn more on RubyOnrails as I learn
       <br><br>
       follow me on Instagram <a target="_blank" href="https://www.instagram.com/sounish003">@sounish003</a>
       <br>
       follow me on twitter <a target="_blank" href="https://www.twitter.com/sounish1">@sounish1</a>
       </p>
            <br><br>
       <p>Subscribe my Newsletter :<a target="_blank" href="https://mail_to:flock.sinasini@gmail.com"> Email me </a> </p>
    </div>
</div>